<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Store</title>
    <style>
        body {
            font-family: "Avenir", sans-serif;
        }
        table{
            width: 500px;
        }
        th,td {
            padding : 10px;
        }
        thead {
            background: lightblue;
        }
    </style>
</head>
<body>
    <h1>Books List</h1>
    <p>This is Books Store list!</p>
    
    <a href="/">Home</a>
    <a href="/books">Booklist</a>
    <a href="/books/add">Add Book</a>
    <!-- <a href="/books/edit">Edit Book</a> -->
    
    <h2>This is Home Page</h2>
</body>
</html>